export PATH="/root/.rbenv/shims:/root/.rbenv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
export PORT=5000
export RAILS_ENV="production"
export ZILLOW_DATABASE_URL="mysql2://user:password@localhost/zillow_scraper"
export ZILLOW_FAYE_HOST="yourserver.com:#{PORT}"
export SECRET_KEY_BASE='69045d1f79a1b30fabc23ebd9'
