// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

#footer {
  p {
    display: none;
  }
}

#resultsbox {
  border: 4px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  min-height: 600px;
  font-family: "Droid Sans Mono", monospace;
  font-size: 1.2em;
  background-color: #e8e8e8;
  color: #333;
  font-weight: bold;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 600px;
}

.emphasize {
  color: #589;
}
