// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

#footer {
  p {
    display: none;
  }
}
table.index_table {
  td.col-area, td.col-bedroom, td.col-bathroom, td.col-price {
    text-align: right;
  }
}
h3.emphasize {
  color: #589;
  font-size: 2em;
  font-family: "Droid Sans", sans-serif;
}
#resultsbox {
  border: 4px solid #000;
  border-radius: 4px;
  min-height: 600px;
  font-family: "Droid Sans Mono", monospace;
  font-size: 1.2em;
  background-color: #e8e8e8;
  color: #333;
  max-height: 600px;
  & > div {
    padding: 0;
    margin: 0;
    border-bottom: 4px solid #000;
    overflow: auto;

    &#crawler{
      height: 188px;
    }

    &#statistics {
      height: 160px;
      overflow: hidden;
    }

    &#listing {
      border: none;
      height: 244px;
    }

    & > table {
      margin: 0 !important;
      // width: 50%;
      // margin-top: 10px;
      th, td {
        border: 1px solid rgba(0,0,0, 0.2);
        vertical-align: bottom;
      }
    }

    & > div.sidebar {
      display: none;
      position: absolute;
      right: 90px;
      h3 {
        color: rgb(200,100,100);
        border-bottom: 3px solid rgba(200,100,100,0.5);
        padding: 30px 0 0;
      }
    }
    a {
      text-decoration: none;
    }
    span.listing {
      font-weight: bold;
    }
    span.crawl {
      color: #aaa;
      a {
        color: #daa;
      }
    }
  }
}

#dashboard_stat_box table {
  width: auto;
  margin: auto;
  th, td {
    border: none;
    vertical-align: bottom;
    font-size: 1.5em;
    font-family: "Droid Sans", sans-serif;
  }
  th{
    text-align: right;
  }
}

.attributes_table.listing {
  table {
    tr.row-description td {
      text-align: justify;
      p { margin: 0; }
      ul {
        width: 20%;
        float: left;
        margin: 0;
      }
      h4 {
        padding: 5px 0;
        clear: both;
        font-size: 1.2em;
        text-decoration: underline;
        margin-bottom: 0;
      }
    }
  }
}
